/* Change Play Icon */
.jwplayer.jw-skin-custom-icons .jw-svg-icon-play path {    
    display: none;
}
.jwplayer.jw-skin-custom-icons .jw-svg-icon-play {
    background-image: url("../public/images/playbutton.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
/* Change Buffer Icon */
.jwplayer.jw-skin-custom-icons .jw-svg-icon-buffer path {
    display: none;
}
  
.jwplayer.jw-skin-custom-icons .jw-svg-icon-buffer {
    background-image: url('../public/images/buffer.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
/* Change Replay Icon */
.jwplayer.jw-skin-custom-icons .jw-svg-icon-replay path {  
    display: none;
}
  
.jwplayer.jw-skin-custom-icons .jw-svg-icon-replay {
    background-image: url('../public/images/replay.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
/* Change Idle Play Icon */
.jwplayer.jw-skin-custom-icons .jw-state-idle .jw-svg-icon-play path { 
    display: none;
  }
.jwplayer.jw-skin-custom-icons .jw-state-idle .jw-svg-icon-play {
    background-image: url("../public/images/play.svg");
    background-size: contain;
    background-repeat: no-repeat;
}